@{
    ViewData["Title"] = "Dashboard";
}
<script src="https://npmcdn.com/es6-promise@3.2.1"></script>
<script src="~/js/powerbi.js"></script>

@if (!string.IsNullOrEmpty(Model.EmbedConfig.ErrorMessage))
{
<div id="errorWrapper">
    <h2>
        Error
    </h2>
    <pre>
        @Model.EmbedConfig.ErrorMessage
    </pre>
</div>

    return;
}
<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Introduction</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>

            </div>
            <div class="modal-body">
                <p><b>EY’s Relationship with You</b></p>
                PowerBI visualization hosting platform (the “Tool”) is a proprietary EY platform which allows you to access and interact with interactive visualizations prepared by EY.  Before you receive access to the Tool and its contents, you must read and accept the following Terms of Use and Privacy Notice.  In accessing the Tool, you agree to be bound by such terms and conditions, including any modification to them from time to time, each time you receive any information as a result of your access to the Tool.  Any breach of such terms and conditions may result, in our sole discretion and without limitation, in the suspension or termination of your access to the Tool.
                <br>
                EY may without prior notice modify the contents and functionalities of the Tool or discontinue the operation, without prior notice to you, of all or portions of the Tool at any time in EY’s sole discretion.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn nextbtn" data-toggle="modal" data-target="#modal-2" data-dismiss="modal">Continue</button>
                <button type="button" class="btn cancelbtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="modal-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Terms of Use</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

            </div>
            <div class="modal-body" id="modal2_body">
                <p><b>EY’s Relationship with You</b></p>
                If you are an EY client and you will use the Tool to access an EY report that was prepared pursuant to an engagement agreement between you and EY, your access to the Tool (and the contents thereof, including any such report) is subject to the terms and conditions of your engagement agreement with EY.
                <br>
                If you are not an EY client, or if you are an EY client with respect to matters unrelated to your current access to the Tool, your access to the Tool (and the contents thereof, including any EY reports) is subject to these Terms of Use and, where applicable, the terms and conditions of the release letter agreed between you and EY.  In the event of any conflict between the terms of use set out in these Terms of Use and in any release letter, the terms set out in the release letter shall prevail. EY is providing the Tool to our client and performing our services under the terms of our agreement with our client. The scope of our services to our client is clear and distinct from that of any other advisor to the client and EY will act independently from any other advisor to our client (and, for the avoidance of doubt, any other third parties that are not EY’s direct subcontractors).  EY will not be held liable for any work performed or services rendered by other advisors. You expressly acknowledge that any instruction to perform your services through the EY Tool comes directly from our client and that any interaction between you and EY should be treated as incidental.  You acknowledge and agree that the Tool and its contents are intended only for EY’s client, and that you will not forward, distribute, reproduce, copy or publish any information contained in the Tool to any other person without our prior written consent.
                <br><br>
                <span class="modal4data">Intellectual Property Rights</span>
                <br><br>
                The Tool is confidential and proprietary to or licensed by EY.  All intellectual property rights in the Tool, and in any modifications to the Tool created by EY, belong to EY or its licensors.  You shall have no right to (and shall not), and you shall not permit any third parties to, sub-license, copy, adapt, reverse engineer, decompile, disassemble or modify any software used in the Tool in whole or in part, or in any way derive any source code from, or create any derivative work of, the Tool.
                <br><br>
                <span class="modal4data">No Warranties</span>
                <br><br>
                The Tool is provided “AS IS,” and none of EY or any other party involved in the creation, production or delivery of the Tool makes any warranties, express or implied and whether by statue or otherwise, with respect to the Tool, including, without limitation, any implied warranty of satisfactory quality, merchantability, use of reasonable skill and care or fitness for any particular purpose or use, non-infringement, title, or that the operation of the Tool will be uninterrupted, error free or that it will be compatible with any of your hardware or software.  You acknowledge that you shall be solely responsible for your use of the Tool.  No responsibility or liability is or will be accepted by us in connection with your use of the Tool, including but not limited to the adequacy, accuracy, or completeness of the Tool or the output of the Tool or any conclusions or decisions that you reach through your use of the Tool.  EY shall not be responsible for any maintenance, training, assistance, updates or support of any kind or nature related to the Tools.
                <br><br>
                <span class="modal4data">Your Use of the Tool</span>
                <br><br>
                While using the Tool, users must:
                <br><br>
                (i) take all reasonable steps to ensure that none of the information in the Tool is visible to, or capable of being overlooked by, other persons;
                <br>
                (ii) not access the Tool from any place where the public has access either physically or electronically;
                <br>
                (iii) not leave their computer or other communications device through which they access the Tool unattended whilst connected to the Tool;
                <br>
                (iv) ensure that they close the browser and log out when they have finished using the Tool;
                <br>
                (v) not deface, mark, damage or destroy in any way any Information contained in the Tool;
                <br>
                (vi) not attempt to disable the protection software associated with the Tool;
                <br>
                (vii) not share their password for the Tool with anyone else, including any other viewer or user from its representatives. All users and viewers will be monitored by EY based on their log-in details; and
                <br>
                (viii) comply immediately and fully with any instruction from, and submit to any reasonable security procedures required by EY.
                <br>
                You represent and warrant for yourself and on behalf of your authorized users that you will not use the Tool: (a) in any way that breaches any applicable law or regulation; (b) in any way that is fraudulent or has any fraudulent purpose; or (c) to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time bombs, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.  You also agree not to access without authority, interfere with, damage or disrupt (i) any part of the Tool; (ii) any equipment or network on which the Tool is stored; (iii) any software used in the Tool; or (iv) any equipment, network or software owned or used by any third party.  You also acknowledge that you have implemented sufficient security measures to prevent any security violation that could result in damages to you or us. You will inform us without delay if you become aware of any potential or proven security risk, including but not limited to the use of user credentials by unauthorized parties, or if one of your authorized users leaves your employment such that their user access should be removed.
                <br>
                Except as expressly provided otherwise in these Terms of Use or in any engagement agreement or release letter with EY or as we may consent otherwise in writing, , you shall ensure that: (i) each of your authorized users keeps a secure password for his/her use of the Tool, (ii) such password shall be changed in accordance with our reasonable instructions, (iii) each of your authorized users shall keep his/her password confidential, (iv) each set of user credentials for the Tool is not used by more than one individual or shared among individuals and (v) you shall not provide any third party (including your affiliates, unless otherwise requested by you and agreed by us in writing) with access to the Tool.
                <br><br>
                <span class="modal4data">Third Parties</span>
                <br><br>
                We may at any time subcontract certain functions relating to the Tool to third parties who supply us with the hardware, software, services, products, programs and goods we need to operate and maintain the Tool.  We do not assume any responsibility for any third-party hardware, software, services, products, programs or goods, including, without limitation, their performance or otherwise.
                <br><br>
                <span class="modal4data">The Tools and EY Reports</span>
                <br><br>
                Your access to the Tool to draft Reports or other information is solely for the purposes of a transaction involving our client.  We assume no responsibility or liability whatsoever to you in respect of the contents and you agree to be bound by the terms and conditions of the engagement agreement between EY and our client or, where applicable, the terms and conditions of the release letter agreed between you and EY, relating to restrictions on the use and disclosure of our Report or any other information
                <br><br>
                <span class="modal4data">Data Content of the Tool</span>
                <br><br>
                While we may have performed certain procedures on raw data in order to enable it to function appropriately with the Tool, we have not created the underlying data provided, uploaded or amended by our client or on its behalf and we do not have any responsibility to analyze, evaluate, verify or comment.  To the extent that we use publicly available information or other third party sources, we have not verified the accuracy, reliability or completeness of such information or sources.  Any content provided by you that may be posted or stored on the Tool shall be compliant with applicable laws and regulations and shall not infringe any third party rights, including but not limited to any intellectual property rights.  You agree to take all necessary actions to ensure that the data uploaded to and/or used as part of the Tool has been properly saved.
                <br>

                <br><br>
                <span class="modal4data">Representation and Acknowledgement</span>
                <br><br>
                I hereby represent that:
                <br><br>
                (i) I am a person permitted to receive or access the Tool;
                <br>
                (ii) I acknowledge and agree to be bound by the Terms of Use set forth above; and
                <br>
                (iii) This acknowledgment, any non-contractual obligations arising out of or in connection with this acknowledgement and the relationship between the parties hereunder shall be governed by and construed in accordance with the laws governing EY’s engagement with its client.  I agree that the courts of such jurisdiction are to have exclusive jurisdiction and submit to the exclusive jurisdiction of such courts.  I hereby irrevocably waive, to the fullest extent permitted by law, any objection which I may now or hereafter have to such courts’ exercise of personal jurisdiction over me or the laying of venue of any such proceeding brought in such a court and hereby waive any claim that any such proceeding brought in such a court has been brought in an inconvenient forum.
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn nextbtn" data-toggle="modal" data-target="#modal-3" data-dismiss="modal">Accept</button>
                <button type="button" class="btn cancelbtn" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Privacy Notice</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p><b>EY’s Relationship with You</b></p>
                If you are an EY client and you will use the Tool to access an EY report that was prepared pursuant to an engagement agreement between you and EY, your access to the Tool (and the contents thereof, including any such report) is subject to the terms and conditions of your engagement agreement with EY.
                <br><br>
                If you are not an EY client, or if you are an EY client with respect to matters unrelated to your current access to the Tool, your access to the Tool (and the contents thereof, including any EY reports) is subject to these Terms of Use and, where applicable, the terms and conditions of the release letter agreed between you and EY.  In the event of any conflict between the terms of use set out in these Terms of Use and in any release letter, the terms set out in the release letter shall prevail. EY is providing the Tool to our client and performing our services under the terms of our agreement with our client. The scope of our services to our client is clear and distinct from that of any other advisor to the client and EY will act independently from any other advisor to our client (and, for the avoidance of doubt, any other third parties that are not EY’s direct subcontractors).  EY will not be held liable for any work performed or services rendered by other advisors. You expressly acknowledge that any instruction to perform your services through the EY Tool comes directly from our client and that any interaction between you and EY should be treated as incidental.  You acknowledge and agree that the Tool and its contents are intended only for EY’s client, and that you will not forward, distribute, reproduce, copy or publish any information contained in the Tool to any other person without our prior written consent.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn nextbtn" data-dismiss="modal" onclick="acceptTermsAndConditions()">Accept</button>
                <button type="button" class="btn cancelbtn" data-dismiss="modal">Cancel</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-4">
    <div class="modal-dialog" id="modal-4-dialog">
        <div class="modal-content" id="modal-4-content">
            <div class="modal-header">
                <h4 class="modal-title">Terms Of Use</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" id="modal4_body">
                <p><b>EY’s Relationship with You</b></p>
                If you are an EY client and you will use the Tool to access an EY report that was prepared pursuant to an engagement agreement between you and EY, your access to the Tool (and the contents thereof, including any such report) is subject to the terms and conditions of your engagement agreement with EY.
                <br>
                If you are not an EY client, or if you are an EY client with respect to matters unrelated to your current access to the Tool, your access to the Tool (and the contents thereof, including any EY reports) is subject to these Terms of Use and, where applicable, the terms and conditions of the release letter agreed between you and EY.  In the event of any conflict between the terms of use set out in these Terms of Use and in any release letter, the terms set out in the release letter shall prevail. EY is providing the Tool to our client and performing our services under the terms of our agreement with our client. The scope of our services to our client is clear and distinct from that of any other advisor to the client and EY will act independently from any other advisor to our client (and, for the avoidance of doubt, any other third parties that are not EY’s direct subcontractors).  EY will not be held liable for any work performed or services rendered by other advisors. You expressly acknowledge that any instruction to perform your services through the EY Tool comes directly from our client and that any interaction between you and EY should be treated as incidental.  You acknowledge and agree that the Tool and its contents are intended only for EY’s client, and that you will not forward, distribute, reproduce, copy or publish any information contained in the Tool to any other person without our prior written consent.
                <br> <br>
                <span class="modal4data">Intellectual Property Rights</span>
                <br> <br>
                <span class="modal4datatxt">The Tool is confidential and proprietary to or licensed by EY.  All intellectual property rights in the Tool, and in any modifications to the Tool created by EY, belong to EY or its licensors.  You shall have no right to (and shall not), and you shall not permit any third parties to, sub-license, copy, adapt, reverse engineer, decompile, disassemble or modify any software used in the Tool in whole or in part, or in any way derive any source code from, or create any derivative work of, the Tool.</span>
                <br><br>
                <span class="modal4data">No Warranties</span>
                <br><br>
                <span class="modal4datatxt">The Tool is provided “AS IS,” and none of EY or any other party involved in the creation, production or delivery of the Tool makes any warranties, express or implied and whether by statue or otherwise, with respect to the Tool, including, without limitation, any implied warranty of satisfactory quality, merchantability, use of reasonable skill and care or fitness for any particular purpose or use, non-infringement, title, or that the operation of the Tool will be uninterrupted, error free or that it will be compatible with any of your hardware or software.  You acknowledge that you shall be solely responsible for your use of the Tool.  No responsibility or liability is or will be accepted by us in connection with your use of the Tool, including but not limited to the adequacy, accuracy, or completeness of the Tool or the output of the Tool or any conclusions or decisions that you reach through your use of the Tool.  EY shall not be responsible for any maintenance, training, assistance, updates or support of any kind or nature related to the Tools.</span>
                <br><br>
                <span class="modal4data">Your Use of the Tool</span>
                <br><br>
                <span class="modal4datatxt">
                    While using the Tool, users must:
                    <br>
                    (i) take all reasonable steps to ensure that none of the information in the Tool is visible to, or capable of being overlooked by, other persons;
                    <br>
                    (ii) not access the Tool from any place where the public has access either physically or electronically;
                    <br>
                    (iii) not leave their computer or other communications device through which they access the Tool unattended whilst connected to the Tool;
                    <br>
                    (iv) ensure that they close the browser and log out when they have finished using the Tool;
                    <br>
                    (v) not deface, mark, damage or destroy in any way any Information contained in the Tool;
                    <br>
                    (vi) not attempt to disable the protection software associated with the Tool;
                    <br>
                    (vii) not share their password for the Tool with anyone else, including any other viewer or user from its representatives. All users and viewers will be monitored by EY based on their log-in details; and
                    <br>
                    (viii) comply immediately and fully with any instruction from, and submit to any reasonable security procedures required by EY.
                    <br>
                    You represent and warrant for yourself and on behalf of your authorized users that you will not use the Tool: (a) in any way that breaches any applicable law or regulation; (b) in any way that is fraudulent or has any fraudulent purpose; or (c) to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time bombs, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.  You also agree not to access without authority, interfere with, damage or disrupt (i) any part of the Tool; (ii) any equipment or network on which the Tool is stored; (iii) any software used in the Tool; or (iv) any equipment, network or software owned or used by any third party.  You also acknowledge that you have implemented sufficient security measures to prevent any security violation that could result in damages to you or us. You will inform us without delay if you become aware of any potential or proven security risk, including but not limited to the use of user credentials by unauthorized parties, or if one of your authorized users leaves your employment such that their user access should be removed.
                    <br>
                    Except as expressly provided otherwise in these Terms of Use or in any engagement agreement or release letter with EY or as we may consent otherwise in writing, , you shall ensure that: (i) each of your authorized users keeps a secure password for his/her use of the Tool, (ii) such password shall be changed in accordance with our reasonable instructions, (iii) each of your authorized users shall keep his/her password confidential, (iv) each set of user credentials for the Tool is not used by more than one individual or shared among individuals and (v) you shall not provide any third party (including your affiliates, unless otherwise requested by you and agreed by us in writing) with access to the Tool.
                    <br>
                </span><br><br>
                <span class="modal4data">Third Parties</span>
                <br><br>
                <span class="modal4datatxt">We may at any time subcontract certain functions relating to the Tool to third parties who supply us with the hardware, software, services, products, programs and goods we need to operate and maintain the Tool.  We do not assume any responsibility for any third-party hardware, software, services, products, programs or goods, including, without limitation, their performance or otherwise.</span>
                <br><br>
                <span class="modal4data">The Tools and EY Reports</span>
                <br><br>
                <span class="modal4datatxt">Your access to the Tool to draft Reports or other information is solely for the purposes of a transaction involving our client.  We assume no responsibility or liability whatsoever to you in respect of the contents and you agree to be bound by the terms and conditions of the engagement agreement between EY and our client or, where applicable, the terms and conditions of the release letter agreed between you and EY, relating to restrictions on the use and disclosure of our Report or any other information</span>
                <br><br>
                <span class="modal4data">Data Content of the Tool</span>
                <br><br>
                <span class="modal4datatxt">While we may have performed certain procedures on raw data in order to enable it to function appropriately with the Tool, we have not created the underlying data provided, uploaded or amended by our client or on its behalf and we do not have any responsibility to analyze, evaluate, verify or comment.  To the extent that we use publicly available information or other third party sources, we have not verified the accuracy, reliability or completeness of such information or sources.  Any content provided by you that may be posted or stored on the Tool shall be compliant with applicable laws and regulations and shall not infringe any third party rights, including but not limited to any intellectual property rights.  You agree to take all necessary actions to ensure that the data uploaded to and/or used as part of the Tool has been properly saved.</span>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancelbtn mr-auto" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-5">
    <div class="modal-dialog" id="modal-5-dialog">
        <div class="modal-content" id="modal-5-content">
            <div class="modal-header">
                <h4 class="modal-title">Privacy Notes</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" id="modal2_body">
                <p><b>EY’s Relationship with You</b></p>
                If you are an EY client and you will use the Tool to access an EY report that was prepared pursuant to an engagement agreement between you and EY, your access to the Tool (and the contents thereof, including any such report) is subject to the terms and conditions of your engagement agreement with EY.
                <br><br>
                If you are not an EY client, or if you are an EY client with respect to matters unrelated to your current access to the Tool, your access to the Tool (and the contents thereof, including any EY reports) is subject to these Terms of Use and, where applicable, the terms and conditions of the release letter agreed between you and EY. In the event of any conflict between the terms of use set out in these Terms of Use and in any release letter, the terms set out in the release letter shall prevail. EY is providing the Tool to our client and performing our services under the terms of our agreement with our client. The scope of our services to our client is clear and distinct from that of any other advisor to the client and EY will act independently from any other advisor to our client (and, for the avoidance of doubt, any other third parties that are not EY’s direct subcontractors). EY will not be held liable for any work performed or services rendered by other advisors. You expressly acknowledge that any instruction to perform your services through the EY Tool comes directly from our client and that any interaction between you and EY should be treated as incidental. You acknowledge and agree that the Tool and its contents are intended only for EY’s client, and that you will not forward, distribute, reproduce, copy or publish any information contained in the Tool to any other person without our prior written consent.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancelbtn mr-auto" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="content ">


    <div id="embedContainer"></div>

    <script>
                function displayReport() {
            // Read embed application token from Model
            var accessToken = "@Model.EmbedConfig.EmbedToken.Token";

            // Read embed URL from Model
            var embedUrl = "@Html.Raw(Model.EmbedConfig.EmbedUrl)";

            // Read dashboard Id from Model
            var embedReportId = "@Model.EmbedConfig.Id";

            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;

// Embed configuration used to describe the what and how to embed.
            // This object is used when calling powerbi.embed.
            // This also includes settings and options such as filters.
            // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
            var config = {
                type: 'report',
                tokenType: models.TokenType.Embed,
                accessToken: accessToken,
                embedUrl: embedUrl,
                id: embedReportId,
                pageView: "actualSize",
                permissions: models.Permissions.All,
                settings: {
                    filterPaneEnabled: true,
                    navContentPaneEnabled: true
                }
            };

            // Get a reference to the embedded report HTML element
            var reportContainer = $('#embedContainer')[0];

            if ("@Model.EmbedConfig.Username" != "") {
                $("#RLS").prop('checked', true);
                $("#RLSdiv").show();
            } else {
                $("#RLS").prop('checked', false);
                $("#RLSdiv").hide();
            }

            if ("@Model.EmbedConfig.IsEffectiveIdentityRequired" == "True") {
                $("#noRLSdiv").hide();
                $("#RLS").removeAttr("disabled");
                $("#RLS").change(function() {
                    if ($(this).is(":checked")) {
                        $("#RLSdiv").show(300);
                    } else {
                        $("#RLSdiv").hide(200);
                    }
                });
            } else {
                $("#noRLSdiv").show();
            }
            // Embed the report and display it within the div container.
            var report = powerbi.embed(reportContainer, config);
        }

        if (getTermsAcceptStatus() === "true") {
            displayReport();

        } else {
            displayTerms();

        }

    </script>
</div>